
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Blog</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->
<section id="blog" class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-pull-12">
            <div class="blog">
                <div class="blog-item">
                    <img class="img-responsive img-blog" src="~/images/blog/blog1.jpg" width="70%" alt="" />
                    <div class="blog-content">
                        <a href="blog-item.html"><h3>Duis sed odio sit amet nibh vulputate cursus</h3></a>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                </div><!--/.blog-item-->
            </div>
        </div><!--/.col-md-8-->
        <div class="col-sm-6 col-sm-pull-12">
            <div class="blog">
                <div class="blog-item">
                    <img class="img-responsive img-blog" src="~/images/blog/blog1.jpg" width="70%" alt="" />
                    <div class="blog-content">
                        <a href="blog-item.html"><h3>Duis sed odio sit amet nibh vulputate cursus</h3></a>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                </div><!--/.blog-item-->
            </div>
        </div>
    </div><!--/.row-->
</section><!--/#blog-->


